# Ignore RSpec status file
/.rspec_status

# Ignore gem files
*.gem

# Ignore docs-dev
dev-*
dev-handbook
dev-tools
dev-taskflow/*
.gitmodules
.coding-agent
.env
.claude
CLAUDE.md
.gitignore
docs/what-do-we-build.md
docs/architecture.md
docs/blueprint.md
docs/tools.md
